<div id="description-table-wrapper">
    <div>PDFs</div>
    <div>Chatline</div>
    <div>Math Practice</div>
    <div class="description">All my PDFs are typed up in LaTeX.  LaTeX is a document preparation system which allows for all the symbols needed to write mathematical documents.  Documents include material from highschool and univertiy.</div>
    <div class="description">The chatline is reserved for my friends only, it is written in nodeJS and its purpose is to keep in touch with old friends.  It also has the capability to send links and videos back and forth.</div>
    <div class="description">The math practice is designed to help children with their times tables.  The whole thing is written in JavaScript and is designed to make flash cards perminantly available.</div>
    <div><a href="{% url 'pdfs' %}">PDFs</a></div>
    <div><a href="{% url 'chat' %}">Chatline</a></div>
    <div><a href="{% url 'index' %}">Math Practice</a></div>
</div>
