{% load static %}

<div class="slideshow-container">
    <div class="mySlides fade">
        <!--<div class="numbertext">1 / 3</div>-->
        <img src="{% static 'common/img/a.jpg' %}" style="width:100%">
        <!--<div class="text">Label1</div>-->
    </div>

    <div class="mySlides fade">
        <!--<div class="numbertext">2 / 3</div>-->
        <img src="{% static 'common/img/b.jpg' %}" style="width:100%">
        <!--<div class="text">Label2</div>-->
    </div>

    <div class="mySlides fade">
        <!--<div class="numbertext">3 / 3</div>-->
        <img src="{% static 'common/img/c.jpg' %}" style="width:100%">
        <!--<div class="text">Label3</div>-->
    </div>
</div>
<br>
<div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
</div>

